body {
  margin: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/space.jpg);
  color: #1577e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: #ee730f;
  cursor: pointer;
}

p {
  margin: 0;
}

.link {
  position: relative;
  padding: 15px;
  font-size: large;
  color: #1577e7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #ee730f;
}

.activeLink {
  font-size: large;
  padding: 15px;
  color: #ee730f;
}