body {
  margin: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dadde4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: inherit;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}